/node_modules
/public/hot
/public/fonts
/public/abcl
/public/storage
/public/images
/public/files
/public/js
/public/css
/public/favicon.ico
/public/robots.txt
/storage/*.key
/vendor
.user.ini
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
robots.txt
/.idea
/.vscode
