@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

$oswald: "Oswald", sans-serif;
$ubuntu: "Ubuntu", sans-serif;
$montserat: "Montserrat", sans-serif;
html {
  scroll-behavior: smooth;
}

body {
  font-family: $oswald;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/body-bg.png);
}
.container {
  max-width: 1648px;
  margin: 0 auto;
  padding: 0 15px;
}

.footer-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.read-more {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 20px;
  height: 115px;
  border-radius: 30px;
  background: linear-gradient(
    180deg,
    rgba(158, 158, 158, -91.8) 0%,
    #442a4c 74.82%
  );
  cursor: pointer;
}
.info-block {
  color: #fff;
}
.info-block ul {
  margin: 0;
  padding: 0;
  padding-left: 20px;
}
.info-block ul li {
  margin-bottom: 5px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  margin-bottom: 5px;
}
p {
  margin: 0;
  margin-bottom: 18px;
}

.topnav {
  position: fixed;
  top: 100px;
  left: 20px;
}
.topnav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.topnav li {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 3px;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 5px;
  background: linear-gradient(
    233deg,
    rgba(183, 45, 147, 0.75) 25.16%,
    rgba(109, 17, 133, 0.75) 90.03%
  );
  transition: background 0.3s;
}
.topnav li:hover {
  cursor: pointer;
  box-shadow: 0 0 20px 5px rgba(#f284cf, 0.5);
  background: linear-gradient(233deg, #ff4bd1 25.16%, #bb4ed8 90.03%);
}
.topnav li:hover .link-text {
  display: block;
}
.topnav ul li:nth-child(1) .link-text {
  width: 220px;
  right: -250px;
}
.topnav ul li:nth-child(2) .link-text {
  width: 440px;
  right: -470px;
  margin-bottom: 20px;
}
.topnav .link-text {
  color: rgba(49, 49, 49, 0.9);
  font-family: $ubuntu;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  width: 325px;
  right: -350px;
  line-height: normal;
  text-transform: uppercase;
  display: none;
  padding: 5px;
  position: absolute;
  background-color: rgba(217, 217, 217, 0.8);
}
.topnav .link-text:after {
  border: 14px solid transparent;
  border-right: 12px solid rgba(217, 217, 217, 0.8);
  content: "";
  position: absolute;
  left: -26px;
  top: 0px;
}

.scrollTop {
  position: fixed;
  top: 700px;
  left: 40px;
  cursor: pointer;
}

header {
  background: rgb(67, 36, 136);
  background: linear-gradient(
    266deg,
    rgba(67, 36, 136, 1) 0%,
    rgba(86, 38, 123, 1) 51%
  );
  .header {
    padding: 10px 72px;
  }
}

.header-mobile {
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  visibility: hidden;
}
.header-mobile-menu-items {
  &-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
  }
}

.banner {
  &-item {
    background: rgb(181, 41, 158);
    background: linear-gradient(
      90deg,
      rgba(181, 41, 158, 1) 0%,
      rgba(144, 43, 183, 1) 48%
    );
    box-shadow: inset 0 0 40px #f284cf;
    padding: 50px 40px;
    margin-top: 100px;
    border-radius: 20px;
    position: relative;

    &-title {
      font-family: $oswald;
      font-size: 20px;
      margin-bottom: -15px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin: 0;
      text-transform: uppercase;
      background: linear-gradient(0deg, #999 44.12%, #fff 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    &-subtitle {
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      font-family: $oswald;
      font-size: 40px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin: 0;
      text-transform: uppercase;
      background: linear-gradient(0deg, #ffdf8e 0%, #ffc700 67.39%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    &-btn {
      color: #fff;
      text-align: center;
      font-family: $oswald;
      font-size: 30px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      border: none;
      display: inline-block;
      padding: 5px 30px;
      margin-top: 10px;
      //   box-shadow: inset 0 0 10px #939393;
      text-decoration: none;
      border-radius: 15px;
      background: #39dd00;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
        5px 5px 10px 3px rgba(255, 255, 255, 0.5) inset;
    }
    &-img-left {
      width: 232.432px;
      height: 251.595px;
      transform: rotate(-36.087deg);
      position: absolute;
      right: 370px;
      top: -60px;
    }
    &-img-right {
      width: 376px;
      height: 407px;
      transform: rotate(9.781deg);
      position: absolute;
      top: -91px;
      right: 40px;
    }
    &-img-coin {
      position: absolute;
      top: -70px;
      right: 50px;
    }
    &-img-cointoreal {
      position: absolute;
      right: -20px;
      top: -134px;
    }
  }
}

.about {
  margin: 30px 0;
  &-item {
    &-title {
      color: #fff;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      font-family: $oswald;
      font-size: 25px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
    &-text {
      color: #fff;
      font-family: $oswald;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
}

.youtube {
  &-item {
    font-size: 100px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 924px;
    padding: 20px;
    margin-bottom: 30px;
    border: 4px solid #000;
  }
}

.card-sm {
  &-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.about {
  &-item {
    &-text {
      margin: 0;
      padding: 0;
      padding-left: 20px;
    }
    &-text li {
      color: #fff;
      font-family: $oswald;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    &-text li b {
      text-transform: uppercase;
    }
  }
}

.card-big {
  &-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-item img {
    width: 100%;
  }
}

.auth,
.support,
.transparent {
  margin: 30px 0;
}

.card-md {
  &-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &-item {
  }
  &-item a {
    display: inline-block;
    padding: 3px;
    background: rgb(181, 41, 158);
    background: linear-gradient(
      180deg,
      rgba(181, 41, 158, 1) 0%,
      rgba(144, 43, 183, 1) 48%
    );
    border-radius: 5px;
    overflow: hidden;
  }
}
.comments {
  margin: 30px 0;
  &-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    &-box {
      color: #fff;
    }
  }
  &-stars {
    display: flex;
    gap: 5px;
  }
  &-answer {
    margin-left: 100px;
  }
  &-items {
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 82px;
  }
  &-hide {
    position: relative;
    overflow: hidden;
    height: 590px;
    padding: 0;
  }
  &-items .read-more {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  &-item {
    padding: 28px 43px;
    border-radius: 30px;
    margin-bottom: 20px;
    background: rgba(92, 92, 92, 0.6);
    &-info {
      display: flex;
      justify-content: space-between;
    }
    &-info h6 {
      color: #fff;
      font-family: $ubuntu;
      font-size: 20px;
      font-style: normal;
      font-weight: 200;
      line-height: normal;
      text-transform: lowercase;
      margin-bottom: -2px;
    }
    &-info span {
      color: #b6b6b6;
      font-family: $ubuntu;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-transform: lowercase;
      display: block;
    }
    &-text {
      color: #fff;
      text-align: justify;
      font-family: $ubuntu;
      font-size: 14px;
      font-style: normal;
      font-weight: 200;
      line-height: normal;
      margin: 15px 0;
      text-transform: lowercase;
    }
    &-user {
      display: flex;
      gap: 10px;
      justify-content: flex-start;
    }
    &-footer {
      display: flex;
      gap: 10px;
      justify-content: flex-end;
      align-items: center;
      &-like,
      &-answer {
        display: flex;
        align-items: center;
      }
    }
    &-footer button {
      cursor: pointer;
      background: none;
      border: 0;
      color: #b6b6b6;
      font-family: $ubuntu;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      padding-left: 7px;
      line-height: normal;
      text-decoration: none;
      text-transform: uppercase;
    }
  }
}
.form-hide {
  display: none;
}
.comments-form {
  margin-bottom: 20px;
  &-item {
    padding: 30px 44px;
    border-radius: 30px;
    background: rgba(78, 78, 78, 0.7);
    &-title {
      display: flex;
      justify-content: space-between;
    }
    &-title h3 {
      color: #fff;
      font-family: $ubuntu;
      font-size: 15px;
      font-style: normal;
      font-weight: 500;
      line-height: 114.946%; /* 28.736px */
      text-transform: uppercase;
    }
    &-position {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 20px;
      &-left {
        width: 296px;
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
      &-left input[type="text"] {
        color: #fff;
        outline: none;
        font-family: $ubuntu;
        font-size: 17px;
        font-style: normal;
        font-weight: 200;
        padding: 10px 22px;
        border-radius: 15px;
        outline: none;
        border: 1px solid #3c004c;
        background: rgba(217, 217, 217, 0.1);
      }
      &-left .check-robot {
        border-radius: 15px;
        padding: 10px 22px;
        border: 1px solid #3c004c;
        background: rgba(217, 217, 217, 0.1);
      }
      &-left .check-robot span {
        color: #fff;
        text-align: center;
        font-family: $ubuntu;
        font-size: 17px;
        padding-left: 5px;
        font-style: normal;
        font-weight: 400;
        line-height: 114.946%; /* 31.035px */
        text-transform: uppercase;
      }
      &-left button {
        color: #fff;
        text-align: center;
        font-family: $ubuntu;
        font-size: 17px;
        padding: 9px 0;
        font-style: normal;
        font-weight: 700;
        line-height: 114.946%; /* 31.035px */
        text-transform: uppercase;
        border-radius: 15px;
        border: 2px solid #6d1185;
        background: #9a38b4;
      }
      &-right {
        width: 100%;
        height: 16vh;
      }
      &-right textarea {
        color: #fff;
        outline: none;
        font-family: $ubuntu;
        font-size: 17px;
        font-style: normal;
        font-weight: 200;
        width: 97%;
        padding-left: 30px;
        min-height: 151px;
        border-radius: 25px;
        border: 2px solid #3c004c;
        background: rgba(217, 217, 217, 0.15);
      }
    }
  }
}

footer {
  padding: 90px 15px;
  background-color: #361039;
}
// .footer-items {
//   display: flex;
//   justify-content: space-between;
// }
.footer-items ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.footer-items li a {
  display: block;
  margin-bottom: 25px;
  color: #fff;
  font-family: $montserat;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 121.949%;

  text-decoration: none; /* 20.731px */
  letter-spacing: -0.34px;
}
.footer-items .menu-block h5 a {
  color: #d536ff;
  font-family: $montserat;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  display: block;
  line-height: 121.949%; /* 20.731px */
  margin-bottom: 25px;
  text-decoration: none;
}
.footer-coins {
  margin: 30px 0;
}
.footer-coins-item {
  display: flex;
  gap: 55px;
  justify-content: center;
  align-items: center;
}

.footer-storage {
  padding: 20px 0;
  text-align: center;
}
.footer-copyright {
  opacity: 0.5;
  color: #fff;
  text-align: center;
  font-family: $montserat;
  font-size: 17px;
  font-style: normal;
  font-weight: 300;
  line-height: 121.949%; /* 32.926px */
  letter-spacing: -1.35px;
}

.pageup {
  position: fixed;
  left: 30px;
  top: 400px;
}

// Starts

/* set all stars to 'empty star' */
.stars-container {
  display: inline-block;
  vertical-align: top;
}
/* set all stars to 'empty star' */
.stars-container .star {
  float: right;
  display: inline-block;
  padding: 2px;
  color: orange;
  cursor: pointer;
  font-size: 30px;
}
.stars-container .star:before {
  content: url(../images/empty-star.svg);
  /* fontAwesome empty star code */
}
/* set hovered/selected star to 'filled star' */
.star:hover:before,
.star.selected:before {
  content: url(../images/full-star.svg);
  /* fontAwesome filled star code */
}
/* set all stars after hovered/selected to'filled star' 
** it will appear that it selects all after due to positioning */
.star:hover ~ .star:before,
.star.selected ~ .star:before {
  content: url(../images/full-star.svg);
  /* fontAwesome filled star code */
}
.reviews {
  vertical-align: top;
}

// Slick slider
.my-slider {
  //   padding: 0 70px;
}
.slick-initialized .slick-slide {
  //   background-color: #ccc;
  color: #fff;
  //   height: 900px;
  margin: 0 17px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slick-next,
.slick-prev {
  z-index: 5;
}
.slick-next {
  right: -31px;
}
.slick-prev {
  left: -51px;
}
.slick-next:before {
  content: url(../images/next-btn.png);
}
.slick-prev:before {
  content: url(../images/prev-btn.png);
  //   color: #821477;
  //   font-size: 46px;
  //   background-image: url(../images/prev-btn.svg);
}

/* Acordeon styles */
.tab {
  position: relative;
  margin-bottom: 1px;
  width: 100%;
  color: #fff;
  overflow: hidden;
}
.tab input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.tab label {
  font-size: 20px;
  font-family: $ubuntu;
  position: relative;
  display: block;
  padding: 0 0 0 1em;
  background: #3c004c;
  font-weight: 200;
  line-height: 3;
  cursor: pointer;
  text-transform: uppercase;
}
.blue label {
  background: #3c004c;
}
.tab-content {
  max-height: 0;
  overflow: hidden;
  background: #3c004c;
  -webkit-transition: max-height 0.35s;
  -o-transition: max-height 0.35s;
  transition: max-height 0.35s;
}
.tab-content ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.tab-content ul li {
  margin-bottom: 20px;
  padding-left: 30px;
}
.tab-content ul li a {
  color: #fff;
  font-family: Ubuntu;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 114.946%; /* 17.242px */
  text-transform: uppercase;
  text-decoration: none;
}
.blue .tab-content {
  background: #3c004c;
}
.tab-content p {
  margin: 1em;
}
/* :checked */
.tab input:checked ~ .tab-content {
  max-height: 100vh;
}
/* Icon */
.tab label::after {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 3em;
  height: 3em;
  line-height: 3;
  text-align: center;
  -webkit-transition: all 0.35s;
  -o-transition: all 0.35s;
  transition: all 0.35s;
}
.tab input[type="checkbox"] + label::after {
  content: "+";
}
.tab input[type="radio"] + label::after {
  content: url(../images/arrow-down2.svg);
}
.tab input[type="checkbox"]:checked + label::after {
  transform: rotate(315deg);
}
.tab input[type="radio"]:checked + label::after {
  transform: rotateX(180deg);
}

// Responsive

@media (min-width: 375px) and (max-width: 500px) {
  .container {
    min-width: 333px;
  }
  .scrollTop {
    display: none;
  }
  footer {
    padding: 90px 0px;
  }
  .comments-form-item-position-left button {
    position: absolute;
    bottom: 20px;
    width: 84%;
  }
  .comments-form-item-btn {
    position: absolute;
  }
  .comments-form-item {
    padding-bottom: 60px;
    position: relative;
  }

  .footer-menu {
    display: none;
  }
  .mobile-footer-menu {
    display: block;
  }
  .slick-slider {
    margin-bottom: 67px;
  }
  .slick-next,
  .slick-prev {
    top: auto;
    bottom: -40px !important;
  }

  .slick-next {
    right: 40%;
  }
  .slick-prev {
    left: 30%;
  }

  .header {
    position: absolute;
    top: -200px;
    visibility: hidden;
  }
  .topnav {
    display: none;
  }
  .footer-items .menu-block h5 a {
    font-size: 25px;
  }
  .footer-items li a {
    font-size: 25px;
  }
  .banner-item-img-coin {
    position: absolute;
    top: 0;
    right: 50px;
    width: 135px;
  }
  .comments-item-info {
    flex-direction: column;
  }
  .comments-form-item-title {
    flex-direction: column;
  }
  .comments-form-item-position {
    flex-direction: column;
  }
  .banner-item-img-cointoreal {
    position: absolute;
    right: 21px;
    top: 29px;
    width: 151px;
  }

  .banner-item-subtitle {
    font-size: 22px;
  }
  .banner-item-img-right {
    width: 77px;
    height: auto;
    transform: rotate(9.781deg);
    position: absolute;
    top: -34px;
    right: 40px;
  }
  .banner-item-img-left {
    width: 57px;
    height: auto;
    transform: rotate(-36.087deg);
    position: absolute;
    right: 11px;
    top: 20px;
  }
  .youtube-item {
    min-height: 200px;
  }

  .header-mobile {
    visibility: visible;
  }
  .header-mobile-menu {
    box-shadow: #000 21px 11px 47px;
    position: absolute;
    top: 0;
    left: -430px;
    background: #441031;
    width: 100%;
    z-index: 9999;
    transition: all 0.3s;
    &-show {
      left: 0;
    }
    &-close {
      padding: 10px 10px;
      display: flex;
      justify-content: flex-end;
      border-bottom: 0.5px solid #591841;
    }
    &-items {
      margin: 0;
      padding: 0;
      padding-top: 20px;
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 40px;
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 15px;
      &-item {
        &-link {
          color: #fff;
          text-align: justify;
          font-family: $ubuntu;
          font-size: 18px;
          font-style: normal;
          font-weight: 200;
          text-decoration: none;
          text-transform: uppercase;
        }
      }
    }
  }
  .footer-items,
  .footer-coins-item {
    flex-wrap: wrap;
  }
}

@media (min-width: 1000px) and (max-width: 3000px) {
  .header-mobile,
  .header-mobile-menu,
  .mobile-footer-menu {
    display: none !important;
  }
}
