<FilesMatch "^\.">
    Order allow,deny
    Deny from all
</FilesMatch>
<Files ~ ".(php)$">
    Deny from all
</Files>
<Filesmatch ".(php)$">
    Order Deny,Allow
    Deny from all
</Filesmatch>
<Filesmatch "^index.php">
    Order allow,deny
    Allow from all
</Filesmatch>
<Filesmatch "^goto.php">
    Order allow,deny
    Allow from all
</Filesmatch>
<IfModule mod_headers.c>
    #Запрещаем встраивать сайт во iframe
    Header always append X-Frame-Options SAMEORIGIN
    #Защищаем сайт от межсайтового скриптинга
    Header set X-XSS-Protection "1; mode=block"
    #Заголовок предотвращает атаки на основе mime
    Header set X-Content-Type-Options nosniff
    #Браузер отправляет полный URL на тот же сайт, и неполный (только название) на все остальные
    Header set Referrer-Policy origin-when-cross-origin
</IfModule>
<IfModule mod_setenvif.c>
    <IfModule mod_headers.c>
        # Устанавливаем переменную окружения 'bot' для нежелательных User-Agent
        SetEnvIfNoCase User-Agent "^ALittle Client" bot
        SetEnvIfNoCase User-Agent "^Go-http-client/1.1" bot
        SetEnvIfNoCase User-Agent "^TprAdsTxtCrawler" bot
        SetEnvIfNoCase User-Agent "^Photon/1.0" bot
        SetEnvIfNoCase User-Agent ".*HeadlessChrome/1.*" bot
        SetEnvIfNoCase User-Agent ".*Twitterbot/1.0.*" bot
        SetEnvIfNoCase User-Agent ".*Screaming Frog SEO Spider.*" bot
        SetEnvIfNoCase User-Agent ".*SurdotlyBot.*" bot
        SetEnvIfNoCase User-Agent ".*curl.*" bot
        SetEnvIfNoCase User-Agent ".*PixelTools.*" bot
        SetEnvIfNoCase User-Agent ".*DataForSeoBot.*" bot
        SetEnvIfNoCase User-Agent ".*PetalBot.*" bot
        SetEnvIfNoCase User-Agent ".*weborama.*" bot
        SetEnvIfNoCase User-Agent ".*CFNetwork.*" bot
        SetEnvIfNoCase User-Agent ".*Python.*" bot
        SetEnvIfNoCase User-Agent ".*python-requests.*" bot
        SetEnvIfNoCase User-Agent ".*UptimeRobot.*" bot
        SetEnvIfNoCase User-Agent ".*Hybrid Advertising.*" bot
        SetEnvIfNoCase User-Agent ".*Crawler.*" bot
        SetEnvIfNoCase User-Agent "^LinksMasterRoBot" bot
        SetEnvIfNoCase User-Agent "^wp_is_mobile" bot
        SetEnvIfNoCase User-Agent "^LinkStats" bot
        SetEnvIfNoCase User-Agent "^CNCat" bot
        SetEnvIfNoCase User-Agent "^linkdexbot" bot
        SetEnvIfNoCase User-Agent "^meanpathbot" bot
        SetEnvIfNoCase User-Agent "^NetSeer" bot
        SetEnvIfNoCase User-Agent "^statdom.ru" bot
        SetEnvIfNoCase User-Agent "^StatOnlineRuBot" bot
        SetEnvIfNoCase User-Agent "^WebArtexBot" bot
        SetEnvIfNoCase User-Agent "^Miralinks Robot" bot
        SetEnvIfNoCase User-Agent "^Web-Monitoring" bot
        SetEnvIfNoCase User-Agent "^Runet-Research-Crawler" bot
        SetEnvIfNoCase User-Agent "^pr-cy.ru" bot
        SetEnvIfNoCase User-Agent "^SeopultContentAnalyzer" bot
        SetEnvIfNoCase User-Agent "^Seopult" bot
        SetEnvIfNoCase User-Agent "^uptimerobot" bot
        SetEnvIfNoCase User-Agent "^spbot" bot
        SetEnvIfNoCase User-Agent "^rogerbot" bot
        SetEnvIfNoCase User-Agent "^sitebot" bot
        SetEnvIfNoCase User-Agent "^dotbot" bot
        SetEnvIfNoCase User-Agent "^Linux" bot
        SetEnvIfNoCase User-Agent ".*Semrush.*" bot
        SetEnvIfNoCase User-Agent "^SemrushBot" bot
        SetEnvIfNoCase User-Agent "^SemrushBot-SA" bot
        SetEnvIfNoCase User-Agent "^SemrushBot-BA" bot
        SetEnvIfNoCase User-Agent "^SemrushBot-SI" bot
        SetEnvIfNoCase User-Agent "^SemrushBot-SWA" bot
        SetEnvIfNoCase User-Agent "^SemrushBot-CT" bot
        SetEnvIfNoCase User-Agent "^SemrushBot-BM" bot
        SetEnvIfNoCase User-Agent "^SemrushBot-SEOAB" bot
        SetEnvIfNoCase User-Agent "^MJ12bot" bot
        SetEnvIfNoCase User-Agent "^Vivaldi" bot
        SetEnvIfNoCase User-Agent "^ArchiveBot" bot
        SetEnvIfNoCase User-Agent "^archive.org_bot" bot
        SetEnvIfNoCase User-Agent "^ia_archiver" bot
        SetEnvIfNoCase User-Agent "^ia_archiver-web.archive.org" bot
        SetEnvIfNoCase User-Agent "^PaleMoon" bot
        SetEnvIfNoCase User-Agent "^Pale Moon" bot
        SetEnvIfNoCase User-Agent "Sovetnik" bot
        SetEnvIfNoCase User-Agent "sovetnik" bot
        SetEnvIfNoCase User-Agent "80legs" bot
        SetEnvIfNoCase User-Agent "360Spider" bot
        SetEnvIfNoCase User-Agent "^8484 Boston Project" bot
        SetEnvIfNoCase User-Agent "Aboundex" bot
        SetEnvIfNoCase User-Agent "^Alexibot" bot
        SetEnvIfNoCase User-Agent "^asterias" bot
        SetEnvIfNoCase User-Agent "^attach" bot
        SetEnvIfNoCase User-Agent "^AIBOT" bot
        SetEnvIfNoCase User-Agent "^Accelerator" bot
        SetEnvIfNoCase User-Agent "^Ants" bot
        SetEnvIfNoCase User-Agent ".*Ahrefs.*" bot
        SetEnvIfNoCase User-Agent "^AhrefsBot" bot
        SetEnvIfNoCase User-Agent "^AhrefsSiteAudit" bot
        SetEnvIfNoCase User-Agent "^Ask Jeeves" bot
        SetEnvIfNoCase User-Agent "^Atomic_Email_Hunter" bot
        SetEnvIfNoCase User-Agent "^atSpider" bot
        SetEnvIfNoCase User-Agent "^autoemailspider" bot
        SetEnvIfNoCase User-Agent "^BackDoorBot" bot
        SetEnvIfNoCase User-Agent "^BackWeb" bot
        SetEnvIfNoCase User-Agent "Bandit" bot
        SetEnvIfNoCase User-Agent "^BatchFTP" bot
        SetEnvIfNoCase User-Agent "^Bigfoot" bot
        SetEnvIfNoCase User-Agent "^Black.Hole" bot
        SetEnvIfNoCase User-Agent "^BlackWidow" bot
        SetEnvIfNoCase User-Agent "^BlowFish" bot
        SetEnvIfNoCase User-Agent "^BotALot" bot
        SetEnvIfNoCase User-Agent "Buddy" bot
        SetEnvIfNoCase User-Agent "^BuiltBotTough" bot
        SetEnvIfNoCase User-Agent "^Bullseye" bot
        SetEnvIfNoCase User-Agent "^BunnySlippers" bot
        SetEnvIfNoCase User-Agent ".*LinkpadBot.*" bot
        SetEnvIfNoCase User-Agent ".*BLEXBot.*" bot
        SetEnvIfNoCase User-Agent ".*Serpstat.*" bot
    
        <Limit GET POST HEAD>
            Order Allow,Deny
            Allow from all
            Deny from env=bot
        </Limit>
    </IfModule>
</IfModule>
<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        DirectoryIndex index.php
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
