<FilesMatch "^\.">
    Require all denied
</FilesMatch>

<Files ~ "\.php$">
    Require all denied
</Files>

<FilesMatch "\.php$">
    Require all denied
</FilesMatch>

<FilesMatch "^index\.php">
    Require all granted
</FilesMatch>

<FilesMatch "^goto\.php">
    Require all granted
</FilesMatch>

<IfModule mod_headers.c>
    Header always append X-Frame-Options SAMEORIGIN
    Header set X-XSS-Protection "1; mode=block"
    Header set X-Content-Type-Options nosniff
    Header set Referrer-Policy origin-when-cross-origin
</IfModule>

<IfModule mod_setenvif.c>
    # Проставляем BOT=1 для всех перечисленных User-Agent (добавляем '=1')
    SetEnvIfNoCase User-Agent "^ALittle Client" BOT=1
    SetEnvIfNoCase User-Agent "^Go-http-client/1.1" BOT=1
    SetEnvIfNoCase User-Agent "^TprAdsTxtCrawler" BOT=1
    SetEnvIfNoCase User-Agent "^Photon/1.0" BOT=1
    SetEnvIfNoCase User-Agent ".*HeadlessChrome/1.*" BOT=1
    SetEnvIfNoCase User-Agent ".*Twitterbot/1.0.*" BOT=1
    SetEnvIfNoCase User-Agent ".*Screaming Frog SEO Spider.*" BOT=1
    SetEnvIfNoCase User-Agent ".*SurdotlyBot.*" BOT=1
    SetEnvIfNoCase User-Agent ".*curl.*" BOT=1
    SetEnvIfNoCase User-Agent ".*PixelTools.*" BOT=1
    SetEnvIfNoCase User-Agent ".*DataForSeoBot.*" BOT=1
    SetEnvIfNoCase User-Agent ".*PetalBot.*" BOT=1
    SetEnvIfNoCase User-Agent ".*weborama.*" BOT=1
    SetEnvIfNoCase User-Agent ".*CFNetwork.*" BOT=1
    SetEnvIfNoCase User-Agent ".*Python.*" BOT=1
    SetEnvIfNoCase User-Agent ".*python-requests.*" BOT=1
    SetEnvIfNoCase User-Agent ".*UptimeRobot.*" BOT=1
    SetEnvIfNoCase User-Agent ".*Hybrid Advertising.*" BOT=1
    SetEnvIfNoCase User-Agent ".*Crawler.*" BOT=1
    SetEnvIfNoCase User-Agent "^LinksMasterRoBot" BOT=1
    SetEnvIfNoCase User-Agent "^wp_is_mobile" BOT=1
    SetEnvIfNoCase User-Agent "^LinkStats" BOT=1
    SetEnvIfNoCase User-Agent "^CNCat" BOT=1
    SetEnvIfNoCase User-Agent "^linkdexbot" BOT=1
    SetEnvIfNoCase User-Agent "^meanpathbot" BOT=1
    SetEnvIfNoCase User-Agent "^NetSeer" BOT=1
    SetEnvIfNoCase User-Agent "^statdom.ru" BOT=1
    SetEnvIfNoCase User-Agent "^StatOnlineRuBot" BOT=1
    SetEnvIfNoCase User-Agent "^WebArtexBot" BOT=1
    SetEnvIfNoCase User-Agent "^Miralinks Robot" BOT=1
    SetEnvIfNoCase User-Agent "^Web-Monitoring" BOT=1
    SetEnvIfNoCase User-Agent "^Runet-Research-Crawler" BOT=1
    SetEnvIfNoCase User-Agent "^pr-cy.ru" BOT=1
    SetEnvIfNoCase User-Agent "^SeopultContentAnalyzer" BOT=1
    SetEnvIfNoCase User-Agent "^Seopult" BOT=1
    SetEnvIfNoCase User-Agent "^uptimerobot" BOT=1
    SetEnvIfNoCase User-Agent "^spbot" BOT=1
    SetEnvIfNoCase User-Agent "^rogerbot" BOT=1
    SetEnvIfNoCase User-Agent "^sitebot" BOT=1
    SetEnvIfNoCase User-Agent "^dotbot" BOT=1
    SetEnvIfNoCase User-Agent "^Linux" BOT=1
    SetEnvIfNoCase User-Agent ".*DataDog.*" BOT=1
    SetEnvIfNoCase User-Agent ".*Barkrowler.*" BOT=1
    SetEnvIfNoCase User-Agent ".*DataForSEO.*" BOT=1
    SetEnvIfNoCase User-Agent ".*Botify.*" BOT=1
    SetEnvIfNoCase User-Agent ".*Siteimprove.*" BOT=1
    SetEnvIfNoCase User-Agent ".*SiteAuditBot.*" BOT=1
    SetEnvIfNoCase User-Agent ".*Cốc.*" BOT=1
    SetEnvIfNoCase User-Agent ".*CCBot.*" BOT=1
    SetEnvIfNoCase User-Agent ".*Archive.*" BOT=1
    SetEnvIfNoCase User-Agent ".*Dataprovider.com.*" BOT=1
    SetEnvIfNoCase User-Agent ".*Innologica.*" BOT=1
    SetEnvIfNoCase User-Agent ".*Cxense.*" BOT=1
    SetEnvIfNoCase User-Agent ".*Feedly.*" BOT=1
    SetEnvIfNoCase User-Agent ".*Feeder.*" BOT=1
    SetEnvIfNoCase User-Agent ".*Iframely.*" BOT=1
    SetEnvIfNoCase User-Agent ".*Moz rogerbot.*" BOT=1
    SetEnvIfNoCase User-Agent ".*DataForSEO.*" BOT=1
    SetEnvIfNoCase User-Agent ".*Feedbin.*" BOT=1
    SetEnvIfNoCase User-Agent ".*rss2tg_bot.*" BOT=1
    SetEnvIfNoCase User-Agent ".*InternetArchiveBot.*" BOT=1
    SetEnvIfNoCase User-Agent ".*FlipboardRSS.*" BOT=1
    SetEnvIfNoCase User-Agent ".*Arquivo Web Crawler.*" BOT=1
    SetEnvIfNoCase User-Agent ".*Parse.ly.*" BOT=1
    SetEnvIfNoCase User-Agent ".*MonitoRSS.*" BOT=1
    SetEnvIfNoCase User-Agent ".*Hatena.*" BOT=1
    SetEnvIfNoCase User-Agent ".*SEO Audit Check Bot.*" BOT=1
    SetEnvIfNoCase User-Agent ".*NewsBlur.*" BOT=1
    SetEnvIfNoCase User-Agent ".*Skroutz.*" BOT=1
    SetEnvIfNoCase User-Agent ".*Webceo.*" BOT=1
    SetEnvIfNoCase User-Agent ".*marketgoo.*" BOT=1
    SetEnvIfNoCase User-Agent ".*RSS.*" BOT=1
    SetEnvIfNoCase User-Agent ".*Nooshub.*" BOT=1
    SetEnvIfNoCase User-Agent ".*FeedWind.*" BOT=1
    SetEnvIfNoCase User-Agent ".*AddThis.*" BOT=1
    SetEnvIfNoCase User-Agent ".*OpenRSS.*" BOT=1
    SetEnvIfNoCase User-Agent ".*RSS-Feed-Parser.*" BOT=1
    SetEnvIfNoCase User-Agent ".*Semrush.*" BOT=1
    SetEnvIfNoCase User-Agent "^SemrushBot" BOT=1
    SetEnvIfNoCase User-Agent "^SemrushBot-SA" BOT=1
    SetEnvIfNoCase User-Agent "^SemrushBot-BA" BOT=1
    SetEnvIfNoCase User-Agent "^SemrushBot-SI" BOT=1
    SetEnvIfNoCase User-Agent "^SemrushBot-SWA" BOT=1
    SetEnvIfNoCase User-Agent "^SemrushBot-CT" BOT=1
    SetEnvIfNoCase User-Agent "^SemrushBot-BM" BOT=1
    SetEnvIfNoCase User-Agent "^SemrushBot-SEOAB" BOT=1
    SetEnvIfNoCase User-Agent "^MJ12bot" BOT=1
    SetEnvIfNoCase User-Agent "^Vivaldi" BOT=1
    SetEnvIfNoCase User-Agent "^ArchiveBot" BOT=1
    SetEnvIfNoCase User-Agent "^archive.org_bot" BOT=1
    SetEnvIfNoCase User-Agent "^ia_archiver" BOT=1
    SetEnvIfNoCase User-Agent "^ia_archiver-web.archive.org" BOT=1
    SetEnvIfNoCase User-Agent "^PaleMoon" BOT=1
    SetEnvIfNoCase User-Agent "^Pale Moon" BOT=1
    SetEnvIfNoCase User-Agent "Sovetnik" BOT=1
    SetEnvIfNoCase User-Agent "sovetnik" BOT=1
    SetEnvIfNoCase User-Agent "80legs" BOT=1
    SetEnvIfNoCase User-Agent "360Spider" BOT=1
    SetEnvIfNoCase User-Agent "^8484 Boston Project" BOT=1
    SetEnvIfNoCase User-Agent "Aboundex" BOT=1
    SetEnvIfNoCase User-Agent "^Alexibot" BOT=1
    SetEnvIfNoCase User-Agent "^asterias" BOT=1
    SetEnvIfNoCase User-Agent "^attach" BOT=1
    SetEnvIfNoCase User-Agent "^AIBOT" BOT=1
    SetEnvIfNoCase User-Agent "^Accelerator" BOT=1
    SetEnvIfNoCase User-Agent "^Ants" BOT=1
    SetEnvIfNoCase User-Agent ".*Ahrefs.*" BOT=1
    SetEnvIfNoCase User-Agent "^AhrefsBot" BOT=1
    SetEnvIfNoCase User-Agent "^AhrefsSiteAudit" BOT=1
    SetEnvIfNoCase User-Agent "^Ask Jeeves" BOT=1
    SetEnvIfNoCase User-Agent "^Atomic_Email_Hunter" BOT=1
    SetEnvIfNoCase User-Agent "^atSpider" BOT=1
    SetEnvIfNoCase User-Agent "^autoemailspider" BOT=1
    SetEnvIfNoCase User-Agent "^BackDoorBot" BOT=1
    SetEnvIfNoCase User-Agent "^BackWeb" BOT=1
    SetEnvIfNoCase User-Agent "Bandit" BOT=1
    SetEnvIfNoCase User-Agent "^BatchFTP" BOT=1
    SetEnvIfNoCase User-Agent "^Bigfoot" BOT=1
    SetEnvIfNoCase User-Agent "^Black.Hole" BOT=1
    SetEnvIfNoCase User-Agent "^BlackWidow" BOT=1
    SetEnvIfNoCase User-Agent "^BlowFish" BOT=1
    SetEnvIfNoCase User-Agent "^BotALot" BOT=1
    SetEnvIfNoCase User-Agent "Buddy" BOT=1
    SetEnvIfNoCase User-Agent "^BuiltBotTough" BOT=1
    SetEnvIfNoCase User-Agent "^Bullseye" BOT=1
    SetEnvIfNoCase User-Agent "^BunnySlippers" BOT=1
    SetEnvIfNoCase User-Agent ".*LinkpadBot.*" BOT=1
    SetEnvIfNoCase User-Agent ".*BLEXBot.*" BOT=1
    SetEnvIfNoCase User-Agent ".*Serpstat.*" BOT=1
</IfModule>

<IfModule mod_authz_core.c>
    <RequireAll>
        Require all granted
        Require not env BOT
    </RequireAll>
</IfModule>

<IfModule mod_rewrite.c>
    RewriteEngine On

    # Редирект со слэшем на без слэша для не-папок
    <IfModule mod_negotiation.c>
        DirectoryIndex index.php
        Options -MultiViews -Indexes
    </IfModule>
    
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

    # Блокируем доступ к robots.txt и sitemap.xml для ботов
    RewriteCond %{ENV:BOT} =1
    RewriteRule ^(robots\.txt|sitemap\.xml)$ - [F,L]
</IfModule>
